<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @entitle_incentive_detail.name %>
</p>

<p>
  <b>Address:</b>
  <%= @entitle_incentive_detail.address %>
</p>

<p>
  <b>Contact no:</b>
  <%= @entitle_incentive_detail.contact_no %>
</p>

<p>
  <b>Tax pan:</b>
  <%= @entitle_incentive_detail.tax_pan %>
</p>

<p>
  <b>Specialize:</b>
  <%= @entitle_incentive_detail.specialize %>
</p>

<p>
  <b>Contact person:</b>
  <%= @entitle_incentive_detail.contact_person %>
</p>

<p>
  <b>Dept:</b>
  <%= @entitle_incentive_detail.dept %>
</p>

<p>
  <b>Designation:</b>
  <%= @entitle_incentive_detail.designation %>
</p>

<p>
  <b>Dob:</b>
  <%= @entitle_incentive_detail.dob %>
</p>

<p>
  <b>Rate:</b>
  <%= @entitle_incentive_detail.rate %>
</p>

<p>
  <b>Ref code:</b>
  <%= @entitle_incentive_detail.ref_code %>
</p>




<%= link_to 'Edit', edit_entitle_incentive_detail_path(@entitle_incentive_detail) %> |
<%= link_to 'Back', entitle_incentive_details_path %>
