<p id="notice"><%= notice %></p>

<p>
  <b>Ref type:</b>
  <%= @entitle_discount.ref_type %>
</p>

<p>
  <b>Ref code:</b>
  <%= @entitle_discount.ref_code %>
</p>


<%= link_to 'Edit', edit_entitle_discount_path(@entitle_discount) %> |
<%= link_to 'Back', entitle_discounts_path %>
