<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @department.name %>
</p>

<p>
  <b>Dep type:</b>
  <%= @department.dep_type %>
</p>

<p>
  <b>Department code:</b>
  <%= @department.department_code %>
</p>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
