<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @entitle_discount_detail.name %>
</p>

<p>
  <b>Address:</b>
  <%= @entitle_discount_detail.address %>
</p>

<p>
  <b>Contact no:</b>
  <%= @entitle_discount_detail.contact_no %>
</p>

<p>
  <b>Tax pan:</b>
  <%= @entitle_discount_detail.tax_pan %>
</p>

<p>
  <b>Specialize:</b>
  <%= @entitle_discount_detail.specialize %>
</p>

<p>
  <b>Contact person:</b>
  <%= @entitle_discount_detail.contact_person %>
</p>

<p>
  <b>Dept:</b>
  <%= @entitle_discount_detail.dept %>
</p>

<p>
  <b>Designation:</b>
  <%= @entitle_discount_detail.designation %>
</p>

<p>
  <b>Dob:</b>
  <%= @entitle_discount_detail.dob %>
</p>

<p>
  <b>Rate:</b>
  <%= @entitle_discount_detail.rate %>
</p>

<p>
  <b>Ref code:</b>
  <%= @entitle_discount_detail.ref_code %>
</p>

<p>
  <b>Entitle discount:</b>
  <%= @entitle_discount_detail.entitle_discount_id %>
</p>


<%= link_to 'Edit', edit_entitle_discount_detail_path(@entitle_discount_detail) %> |
<%= link_to 'Back', entitle_discount_details_path %>
